app = "reve-redis"
primary_region = "ams"

[build]

[[services]]
  protocol = "tcp"
  internal_port = 6379
  processes = ["app"]
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
